.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25rem;
  width: 30rem;
  padding: 1rem;
}
.contact {
  padding: 1rem;
}
.contact,
.label-form {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(44, 100%, 54%);
  width: 12rem;
}
.text-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18rem;
  margin: 1rem;
}
.submit-btn {
  background: none;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
  width: 6rem;
  border-radius: 8px;
  border-color: hsl(44, 100%, 54%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: hsl(44, 100%, 54%);
}
.input-data {
  padding: 0.7rem;
  width: 12rem;
  border-color: hsl(44, 100%, 54%);
}
@media (max-width: 1026px) {
  .form {
    padding: 1rem;
    height: 20rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18rem;
    height: 15rem;
    padding: 1rem;
  }
  .input-data {
    padding: 1rem;
    width: 100%;
  }
}
